<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spiš v kocke - Admin</title>

	<script src="admin.bundle.js"></script>
	<script>
		let data = {
			articles: <%- JSON.stringify(articles) %>,
			pois: <%- JSON.stringify(pois) %>
		};

		// console.log(data);
	</script>
</head>
<body>
	<nav class="tabs">
		<ul>
			<li><a href="#pois" class="button tab selected">Body záujmu</a></li>
			<li><a href="#articles" class="button tab">Texty v lište</a></li>
		</ul>
	</nav>
	<section class="panels">
		<div id="pois" class="panel">
			<div class="bar">
				<a class="button create">Nový bod</a>
			</div>
			<div class="wrapper">
				<form class="form">
					<input type="hidden" name="id">
					<div>
						<label>Región a mapa</label>
						<select name="region">
							<% for (let region in regions) { %>
								<option value="<%= region %>"><%= regions[region].title.sk %></option>
							<% } %>
						</select>
						<select name="map">
							<% for (let map in maps) { %>
								<option value="<%= map %>"><%= maps[map].title.sk %></option>
							<% } %>
						</select>
					</div>
					<div>
						<label>Nadpis (slovensky)</label>
						<input type="text" name="title_sk">
					</div>
					<div>
						<label>Popis (slovensky)</label>
						<textarea name="description_sk"></textarea>
					</div>
					<div class="labels">
						<label>Pozícia na mape</label>
						<label>Priečinok s fotkami</label>
						<input type="text" name="position">
						<input type="text" name="folder">
					</div>
					<div>
						<label>Nadpis (anglicky)</label>
						<input type="text" name="title_en">
					</div>
					<div>
						<label>Popis (anglicky)</label>
						<textarea name="description_en"></textarea>
					</div>
				</form>
				<div class="bar center">
					<a class="button cancel">Zrušiť</a>
					<a class="button submit">Uložiť</a>
				</div>
			</div>
			<table class="table pois">
				<thead>
					<tr>
						<td>Región</td>
						<td>Mapa</td>
						<td>Nadpis</td>
						<td>Priečinok s fotkami</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<% for (let poi of pois.slice(0).reverse()) { %>
					    <tr class="poi">
							<td class="region">
								<%= regions[poi.region].title.sk %>
							</td>
							<td class="map">
								<%= maps[poi.map].title.sk %>
							</td>
							<td class="title">
								<%= poi.title.sk %>
							</td>
							<td class="folder">
								<%= poi.folder %>
							</td>
							<td class="actions">
								<a class="button alt edit" data-id="<%= poi.$loki %>">Edit</a>
								<a class="button alt delete" data-id="<%= poi.$loki %>">Delete</a>
							</td>
					    </tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div id="articles" class="panel">
			<div class="bar regions">
				<a class="button" data-region="global">Všetky oblasti</a>
				<% for (let region in regions) { %>
					<a class="button" data-region="<%= region %>"><%= regions[region].title.sk %></a>
				<% } %>
			</div>

			<div class="bar maps">
				<a class="button alt" data-map="global">Všetky mapy</a>
				<% for (let map in maps) { %>
					<a class="button alt" data-map="<%= map %>"><%= maps[map].title.sk %></a>
				<% } %>
			</div>

			<form class="form">
				<input type="hidden" name="id">
				<input type="hidden" name="map">
				<input type="hidden" name="region">
				<div>
					<label>Nadpis (slovensky)</label>
					<input type="text" name="title_sk">
				</div>
				<div>
					<label>Popis (slovensky)</label>
					<textarea name="description_sk"></textarea>
				</div>
				<div>
					<label>Nadpis (anglicky)</label>
					<input type="text" name="title_en">
				</div>
				<div>
					<label>Popis (anglicky)</label>
					<textarea name="description_en"></textarea>
				</div>
			</form>
			<div class="bar center">
				<a class="button submit">Uložiť</a>
			</div>
		</div>
	</section>
</body>
</html>
