<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spiš v kocke - Admin</title>

	<script src="admin.bundle.js"></script>
	<script>
		let data = {
			pois: <%- JSON.stringify(pois) %>,
			articles: <%- JSON.stringify(articles) %>,
			regions: <%- JSON.stringify(regions) %>
		};

		// console.log(data);
	</script>
</head>
<body>
	<nav class="tabs">
		<ul>
			<li><a href="#pois" class="button tab selected">Body záujmu</a></li>
			<li><a href="#articles" class="button tab">Texty v lište</a></li>
		</ul>
	</nav>
	<section class="panels">
		<div id="pois" class="panel">
			<div class="bar">
				<a class="button create">Nový bod</a>
			</div>
			<div class="wrapper">
				<form class="form">
					<input type="hidden" name="id">
					<div>
						<label>Región a mapa</label>
						<select name="region">
							<% for (let region of Object.keys(regions).slice(1)) { %>
								<% let pos = regions[ region ].position %>
								<option value="<%= region %>" data-top="<%= pos.top %>" data-left="<%= pos.left %>" data-width="<%= pos.width %>" data-height="<%= pos.height %>">
									<%= regions[ region ].title.sk %>
								</option>
							<% } %>
						</select>
						<select name="map">
							<% for (let map of Object.keys(maps).slice(1)) { %>
								<option value="<%= map %>"><%= maps[map].title.sk %></option>
							<% } %>
						</select>
					</div>
					<div>
						<label>Nadpis (slovensky)</label>
						<input type="text" name="title_sk">
					</div>
					<div>
						<label>Popis (slovensky)</label>
						<textarea name="description_sk"></textarea>
					</div>
					<div class="labels">
						<label>Pozícia na mape</label>
						<label>Popiska</label>
						<input type="text" name="position">
						<select name="label">
							<option value="0">Pod bodom</option>
							<option value="1">Nad bodom</option>
							<option value="2">Naľavo</option>
							<option value="3">Napravo</option>
						</select>
						<div class="picker"></div>
					</div>
					<div>
						<label>Nadpis (anglicky)</label>
						<input type="text" name="title_en">
					</div>
					<div>
						<label>Popis (anglicky)</label>
						<textarea name="description_en"></textarea>
					</div>
				</form>

				<table class="gallery">
					<thead>
						<tr>
							<td><label>Galéria</label></td>
							<td><label>Popis (slovensky)</label></td>
							<td><label>Popis (anglicky)</label></td>
						</tr>
						<tr class="template">
							<td class="thumbnail"><img /></td>
							<td><textarea name="filedesc_sk"></textarea></td>
							<td><textarea name="filedesc_en"></textarea></td>
							<td class="actions">
								<a class="button alt erase">Zmazať</a>
							</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

				<div class="uploader">
					<label>Nahrať obrázky</label>
					<a class="button alt upload">Nahrať</a>
					<input type="file" name="files" multiple="multiple" accept="image/jpeg,image/jpg,image/png" />
				</div>

				<div class="bar center">
					<a class="button cancel">Zrušiť</a>
					<a class="button submit">Uložiť</a>
				</div>
			</div>
			<table class="table pois">
				<thead>
					<tr>
						<td>Región</td>
						<td>Mapa</td>
						<td>Nadpis</td>
						<td>Galéria</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<% for (let poi of pois.slice(0).reverse()) { %>
					    <tr class="poi">
							<td>
								<%= regions[poi.region].title.sk %>
							</td>
							<td>
								<%= maps[poi.map].title.sk %>
							</td>
							<td>
								<%= poi.title.sk %>
							</td>
							<td>
								<%= poi.filelist.length ? poi.filelist.length : '-' %>
							</td>
							<td class="actions">
								<a class="button alt edit" data-id="<%= poi.$loki %>">Upraviť</a>
								<a class="button alt delete" data-id="<%= poi.$loki %>">Zmazať</a>
							</td>
					    </tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div id="articles" class="panel">
			<div class="bar regions">
				<% for (let region in regions) { %>
					<a class="button" data-region="<%= region %>"><%= regions[region].title.sk %></a>
				<% } %>
			</div>

			<div class="bar maps">
				<% for (let map in maps) { %>
					<a class="button alt" data-map="<%= map %>"><%= maps[map].title.sk %></a>
				<% } %>
			</div>

			<form class="form">
				<input type="hidden" name="id">
				<input type="hidden" name="map">
				<input type="hidden" name="region">
				<div>
					<label>Nadpis (slovensky)</label>
					<input type="text" name="title_sk">
				</div>
				<div>
					<label>Popis (slovensky)</label>
					<textarea name="description_sk"></textarea>
				</div>
				<div>
					<label>Nadpis (anglicky)</label>
					<input type="text" name="title_en">
				</div>
				<div>
					<label>Popis (anglicky)</label>
					<textarea name="description_en"></textarea>
				</div>
			</form>

			<table class="gallery">
				<thead>
					<tr>
						<td><label>Galéria</label></td>
						<td><label>Popis (slovensky)</label></td>
						<td><label>Popis (anglicky)</label></td>
					</tr>
					<tr class="template">
						<td class="thumbnail"><img /></td>
						<td><textarea name="filedesc_sk"></textarea></td>
						<td><textarea name="filedesc_en"></textarea></td>
						<td class="actions">
							<a class="button alt erase">Zmazať</a>
						</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<div class="uploader">
				<label>Pridať obrázky</label>
				<a class="button alt upload">Nahrať</a>
				<input type="file" name="files" multiple="multiple" accept="image/jpeg,image/jpg,image/png" />
			</div>

			<div class="bar center">
				<a class="button submit">Uložiť</a>
			</div>
		</div>
	</section>
</body>
</html>
